@page
@model LoginModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Log in";
    ViewData["background"] = "/img/4kpic4.jpg";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="icon" href="~/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @*Tempusdominus Bbootstrap 4*@
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script async src="https://cse.google.com/cse.js?cx=031b060c4c58cdae4"></script>

</head>
<body class="sidebar-mini layout-fixed sidebar-collapse mb-0" onload=display_ct(); style="
        background-image: url('@ViewData["background"]');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        background-position: center;
">
    <div>
        <div>
            <audio id="myaudio" loop>
                <source src="~/audio/night_sound_edited.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <button id="audiobutton" class="btn btn-secondary" onclick="togglePlay()" type="button"><i id="audio" class="fas fa-volume-mute"></i></button>

            <script>
                var myAudio = document.getElementById("myaudio");
                var menu = document.getElementById('audio');

                function togglePlay() {
                    if (menu.className == "fas fa-volume-mute") {
                        menu.className = "fas fa-volume-up";
                    } else {
                        menu.className = 'fas fa-volume-mute';
                    }
                    return myAudio.paused ? myAudio.play() : myAudio.pause();
                };
            </script>
            <div id="preloader">
                <div class="center">
                    <p style="text-align: center;font-size: 14px; font-weight: 800; letter-spacing: 1px; text-transform: uppercase; border-radius: 0; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        Just A Second, I'm Loading...
                    </p>
                </div>
            </div>
            <main role="main">
                <div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>

                <div class="center" style="position: fixed;">
                    <div class="sky-container">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                </div>

                <div class="container-fluid" style="opacity: 0.57;">
                    <br /><br /><br /><br />
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-lg-3half">
                            <div class="shadow-lg p-3 mb-4 bg-dark rounded ">
                                <div class="row">
                                    <div class="col">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><h2 class="text-center" style="color:#1cd5db">Login</h2></a>
                                    </div>
                                    <div class="vertical-line"></div>
                                    <div class="col">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><h2 style="color:darkgrey" class="text-center">Register</h2></a>
                                    </div>
                                </div>
                                <form id="account" method="post">
                                    <hr />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>

                                    <button class=" button-big button button-a btn-block" style="background-color:#1cd5db;font-size: 130%;font-weight: 800;letter-spacing: 1px;text-transform: uppercase;border-radius: 0;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:white;border:0;" type="submit">Login</button>

                                </form>
                                <hr />

                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                        <div>
                                            <p>

                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">

                                            <div class="socials text-center">
                                                <div class="row">
                                                    <div class="col" style="padding-right:35px;"></div>
                                                    <div class="col-6">
                                                        <ul>
                                                            <p class="text-center" style="padding-right:20px;">Or using other methods </p>
                                                            @foreach (var provider in Model.ExternalLogins)
                                                            {
                                                                switch (provider.Name)
                                                                {
                                                                    case "GitHub":
                                                                        <li style="padding-right:10px; padding-bottom:20px;"><button style="border:none;" type="submit" class="ico-circle" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-github"></i></button></li>
                                                                        break;
                                                                    case "Google":
                                                                        <li style="padding-right:10px; padding-bottom:20px;"><button style="border:none;" type="submit" class="ico-circle" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-google"></i></button></li>
                                                                        break;
                                                                    case "Twitter":
                                                                        <li style="padding-right:10px; padding-bottom:20px;"><button style="border:none;" type="submit" class="ico-circle" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-twitter"></i></button></li>
                                                                        break;
                                                                    case "Facebook":
                                                                        <li style="padding-right:10px; padding-bottom:20px;"><button style="border:none;" type="submit" class="ico-circle" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook"></i></button></li>
                                                                        break;
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="col"></div>
                                                </div>
                                            </div>
                                        </form>
                                    }
                                }


                                <div class="row pb-3">
                                    <div class="col">
                                        <div class="form-group">
                                            <a class="btn btn-outline-secondary btn-block text-white form-control text-left" style="text-decoration: initial;border:none;" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                            <a class="btn btn-outline-secondary btn-block text-white form-control text-left" style="text-decoration: initial;border:none;" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                            <a class="btn btn-outline-secondary  btn-block text-white text-left" style="text-decoration: initial;border:none;" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group ">
                                            <button type="button" class="btn btn-secondary btn-block form-control" data-toggle="modal" data-target="#aboutModal" id="aboutButton">
                                                What is Bug Tracker?
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-block form-control" data-toggle="modal" data-target="#whatcanbugtrackerdoes">
                                                About My Bug Tracker
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-block form-control" data-toggle="modal" data-target="#howtouse">
                                                How to use?
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pb-3">
                                    <div class="col">
                                        <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#contactme">
                                            How to Contact me?
                                        </button>
                                    </div>
                                </div>
                                <div class="row pb-0 mb-0">
                                    <div class="col">
                                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#DemoUserLogin">
                                            Login As Demo User
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>

                <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">About</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row pb-3">
                                    <div class="col">
                                        An issue tracking system (also ITS, trouble ticket system, support ticket, request management or incident ticket system) is a computer software package that manages and maintains lists of issues.

                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        Issue tracking systems are generally used in collaborative settings—especially in large or distributed collaborations—but can also be employed by individuals as part of a time management or personal productivity regime.

                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        These systems often encompass resource allocation, time accounting, priority management, and oversight workflow in addition to implementing a centralized issue registry.

                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->

                <div class="modal fade" id="howtouse" tabindex="-1" aria-labelledby="howtouse" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="howtouse">How to use?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row pb-3">
                                    <div class="col">
                                        In order to test the Bug Tracker, you can simply click on "Login as Demo User" and choose either Admin, Project Manager, Developer, or Submitter. To test all of the Bug Tracker functions, I recommend you to login as Demo Admin.

                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        Different role has different permission to do their work in the system. For example, Admin has every permission on the system, Project Manager have almost every permissions but can't modify the role of Admin. Developer and Submitter only can update ticket and submit file to the system.

                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        You can register your own account in the register section, if you do that, your role at after register will be developer.

                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        Notes: If you log in as a Demo User, You can't create or update anything on the database. If you want to see it fully functions, contact me by clicking on the "How to contact me ?" button
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="whatcanbugtrackerdoes" tabindex="-1" aria-labelledby="whatcanbugtrackerdoes" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="whatcanbugtrackerdoes">About My Bug Tracker</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row pb-3">
                                    <div class="col">
                                        My Bug Tracker has every funtions of a complete production which is ready to use or sell to customer.

                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        My Bug Tracker has Authorization, Authendication, Securities, Create, Adjust Project and Ticket, Assign role to user, Assign ticket to user, Change Ticket's Priority, Status, or Type, Comment on Ticket, Attach file to Ticket and Project, Notification Alert through Email, Message system, and Overview the work of company.

                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        This is my biggest project and I put a lot of works on this project. After finished this Bug Tracker, I used it to track other project, and I'm still working on those projects right now. You can see it when you log in with Demo Admin or Demo Project Manager

                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col">
                                        Notes: If you log in as a Demo User, You can't create or update anything on the database. If you want to see it fully functions, contact me by clicking on the "How to contact me ?" button
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="contactme" tabindex="-1" aria-labelledby="contactme" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="contactme">How to Contact me?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <a href="https://www.linkedin.com/in/duy-lan-le-445262163/" target="_blank" class="btn btn-primary btn-block text-white">
                                            <i class="fab fa-linkedin"></i> Linked
                                        </a>
                                    </div>


                                    <div class="col">
                                        <a href="https://duylanle-portfolio.netlify.app/" target="_blank" class="btn btn-info btn-block text-white">
                                            <i class="fas fa-folder-open"></i> Portfolio
                                        </a>
                                    </div>


                                    @*<div class="col">
                                    <a class="btn btn-secondary btn-block">
                                        How to use?
                                    </a>
                                </div>*@
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col text-center">

                                        Email: arthastheking113@gmail.com
                                    </div>
                                    <div class="col text-center">
                                        Phone: 402-304-0329
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="DemoUserLogin" tabindex="-1" aria-labelledby="DemoUserLogin" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content bg-dark" style="opacity: 0.9;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DemoUserLogin">Login As Demo User</h5>
                                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="container-fluid mb-0 pb-0" style="opacity: 0.95;">
                                    <form id="account" method="post" class="form-horizontal form-material">
                                        <div class="row mb-0 pb-0" id="demoUserLogin">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">

                                                            </div>
                                                        </div>
                                                        <div class="shadow-lg p-3  bg-dark rounded">
                                                            <div class="row">
                                                                <div class="col text-center">
                                                                    <h4><span class="iconify" data-icon="wpf:administrator" data-inline="true"></span> Demo Admin</h4>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <div class="col">
                                                                    Log in as an Admin with full of functions to control the system.
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col text-center">
                                                                    <button type="submit" name="demoEmail" value="DemoAdminEmail" class="btn btn-secondary"><span class="iconify" data-icon="clarity:login-solid" data-inline="true"></span> Login as Demo Admin</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">

                                                            </div>
                                                        </div>
                                                        <div class="shadow-lg p-3  bg-dark rounded">
                                                            <div class="row">
                                                                <div class="col  text-center">
                                                                    <h4><span class="iconify" data-icon="fa-solid:users-cog" data-inline="true"></span> Demo PM</h4>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <div class="col">
                                                                    Log in as a Project Manager to manage your team.
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col text-center">
                                                                    <button type="submit" name="demoEmail" value="DemoPmEmail" class="btn btn-secondary"><span class="iconify" data-icon="clarity:login-solid" data-inline="true"></span> Login as Demo PM</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="shadow-lg p-3  bg-dark rounded">
                                                            <div class="row">
                                                                <div class="col text-center">
                                                                    <h4><span class="iconify" data-icon="fa-solid:user-secret" data-inline="true"></span> Demo Developer</h4>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <div class="col">
                                                                    Log in as a Developer to work as a normal employee.
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col text-center">
                                                                    <button type="submit" name="demoEmail" value="DemoDevEmail" class="btn btn-secondary"><span class="iconify" data-icon="clarity:login-solid" data-inline="true"></span> Login as Demo Developer</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="shadow-lg p-3  bg-dark rounded">
                                                            <div class="row">
                                                                <div class="col text-center">
                                                                    <h4><span class="iconify" data-icon="fa-solid:user" data-inline="true"></span> Demo Submitter</h4>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <div class="col">
                                                                    Log in as a Submitter to work with clients.
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col text-center">
                                                                    <button type="submit" name="demoEmail" value="DemoSubEmail" class="btn btn-secondary"><span class="iconify" data-icon="clarity:login-solid" data-inline="true"></span> Login as Demo Submitter</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </main>

        </div>

    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/js/pages/dashboard.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/js/demo.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        // Preloader
        $(window).on('load', function () {
            if ($('#preloader').length) {
                $('#preloader').delay(10).fadeOut('slow', function () {
                    $(this).remove();
                });
            }
        });
    </script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>